@charset "UTF-8";

body {
    background-color: rgb(248, 211, 230);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
h1 {
    color: rgb(172, 12, 92);
    background-color: rgb(247, 155, 187);
}
h2 {
    color: rgb(206, 69, 133);
}
p {
    text-align: justify;
}